
<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="w-full text-wrap items-center justify-center text-[1.2rem]">
    <h2 class="self-center justify-self-center font-bold"> <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <div class="w-full text-wrap items-center justify-center ">
      <% resource.errors.full_messages.each do |message| %>
        <div class="list-disc w-full text-wrap">• <%= message %></div>
      <% end %>
    </div>
  </div>
<% end %>

