<div>
  <div class="flex"><h3><%= task.task_title %></h3> 
    <%# <%= link_to "Edit", edit_category_path(category.id) %>
    <%# <%= button_to "Delete", category_path(category.id), data:{ turbo_method: :delete, turbo_confirm: 'Are you sure?' }, method: :delete %> 
    <div> <%= task.task_body %></div>
  </div>
</div>