<div class="flex flex-col text-[2rem] items-center justify-center font-[Manrope] bg-gradient-to-bl from-orange-400 to-amber-200 w-full min-h-screen">
  <%= form_with scope: :task, url: category_task_path, method: :patch, local: true do |f| %>

  <%= render 'tasks/shared/form', f: f %>

  <% end %>
</div>